@charset "UTF-8";

.sub-container {
	max-width: 1500px !important;
}

#DIV_1 > div {
	margin:auto;
}

#DIV_1 {
	align-content: center;
	flex-wrap: wrap;

    box-sizing: border-box;
    color: rgb(139, 139, 146);
    display: flex;
    /*height: 818px;*/
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    /*width: 1140px;*/
    perspective-origin: 570px 409px;
    transform-origin: 570px 409px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    /*flex-flow: row wrap;*/
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    margin: 0px -15px;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_1*/

#DIV_1:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_1:before*/

#DIV_2, #DIV_13, #DIV_24, #DIV_35, #DIV_46, #DIV_57 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    height: 409px;
    left: 0px;
    min-height: 1px;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    top: 0px;
    width: 379.984px;
    column-rule-color: rgb(139, 139, 146);
    perspective-origin: 189.984px 204.5px;
    transform-origin: 189.992px 204.5px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    flex: 0 0 33.3333%;
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
    padding: 0px 15px;
}/*#DIV_2, #DIV_13, #DIV_24, #DIV_35, #DIV_46, #DIV_57*/

#DIV_2:after, #DIV_13:after, #DIV_24:after, #DIV_35:after, #DIV_46:after, #DIV_57:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_2:after, #DIV_13:after, #DIV_24:after, #DIV_35:after, #DIV_46:after, #DIV_57:after*/

#DIV_2:before, #DIV_13:before, #DIV_24:before, #DIV_35:before, #DIV_46:before, #DIV_57:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_2:before, #DIV_13:before, #DIV_24:before, #DIV_35:before, #DIV_46:before, #DIV_57:before*/

#DIV_3, #DIV_14, #DIV_25, #DIV_36, #DIV_47, #DIV_58 {
    box-shadow: rgba(0, 0, 0, 0.75) 0px 4px 18px -12px;
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    height: 379px;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    width: 349.984px;
    column-rule-color: rgb(139, 139, 146);
    perspective-origin: 174.984px 189.5px;
    transform-origin: 174.992px 189.5px;
    caret-color: rgb(139, 139, 146);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(247, 247, 247);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    margin: 0px 0px 30px;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_3, #DIV_14, #DIV_25, #DIV_36, #DIV_47, #DIV_58*/

#DIV_3:after, #DIV_14:after, #DIV_25:after, #DIV_36:after, #DIV_47:after, #DIV_58:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_3:after, #DIV_14:after, #DIV_25:after, #DIV_36:after, #DIV_47:after, #DIV_58:after*/

#DIV_3:before, #DIV_14:before, #DIV_25:before, #DIV_36:before, #DIV_47:before, #DIV_58:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_3:before, #DIV_14:before, #DIV_25:before, #DIV_36:before, #DIV_47:before, #DIV_58:before*/

#IFRAME_4, #IFRAME_15, #IFRAME_26, #IFRAME_37, #IFRAME_48, #IFRAME_59 {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    height: 208px;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    width: 347.984px;
    column-rule-color: rgb(139, 139, 146);
    perspective-origin: 173.984px 104px;
    transform-origin: 173.992px 104px;
    caret-color: rgb(139, 139, 146);
    border: 0px inset rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#IFRAME_4, #IFRAME_15, #IFRAME_26, #IFRAME_37, #IFRAME_48, #IFRAME_59*/

#IFRAME_4:after, #IFRAME_15:after, #IFRAME_26:after, #IFRAME_37:after, #IFRAME_48:after, #IFRAME_59:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#IFRAME_4:after, #IFRAME_15:after, #IFRAME_26:after, #IFRAME_37:after, #IFRAME_48:after, #IFRAME_59:after*/

#IFRAME_4:before, #IFRAME_15:before, #IFRAME_26:before, #IFRAME_37:before, #IFRAME_48:before, #IFRAME_59:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#IFRAME_4:before, #IFRAME_15:before, #IFRAME_26:before, #IFRAME_37:before, #IFRAME_48:before, #IFRAME_59:before*/

#DIV_5, #DIV_16, #DIV_27, #DIV_38, #DIV_49, #DIV_60 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    height: 160px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    top: 0px;
    width: 347.984px;
    column-rule-color: rgb(139, 139, 146);
    perspective-origin: 173.984px 80px;
    transform-origin: 173.992px 80px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    border-radius: 2px 2px 2px 2px;
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
    padding: 0px;
}/*#DIV_5, #DIV_16, #DIV_27, #DIV_38, #DIV_49, #DIV_60*/

#DIV_5:after, #DIV_16:after, #DIV_27:after, #DIV_38:after, #DIV_49:after, #DIV_60:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_5:after, #DIV_16:after, #DIV_27:after, #DIV_38:after, #DIV_49:after, #DIV_60:after*/

#DIV_5:before, #DIV_16:before, #DIV_27:before, #DIV_38:before, #DIV_49:before, #DIV_60:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_5:before, #DIV_16:before, #DIV_27:before, #DIV_38:before, #DIV_49:before, #DIV_60:before*/

#DIV_6, #DIV_17, #DIV_28, #DIV_39, #DIV_50, #DIV_61 {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    height: 66px;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(139, 139, 146);
    perspective-origin: 149.984px 33px;
    transform-origin: 149.992px 33px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(139, 139, 146) none 0px;
    padding: 8px 24px 24px;
}/*#DIV_6, #DIV_17, #DIV_28, #DIV_39, #DIV_61*/

#DIV_6:after, #DIV_17:after, #DIV_28:after, #DIV_39:after, #DIV_61:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_6:after, #DIV_17:after, #DIV_28:after, #DIV_39:after, #DIV_61:after*/

#DIV_6:before, #DIV_17:before, #DIV_28:before, #DIV_39:before, #DIV_61:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_6:before, #DIV_17:before, #DIV_28:before, #DIV_39:before, #DIV_61:before*/

#DIV_7, #DIV_18, #DIV_29, #DIV_40, #DIV_51, #DIV_62 {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    display: inline-block;
    height: 27px;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    perspective-origin: 149.984px 13.5px;
    transform-origin: 149.992px 13.5px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    margin: 0px 5px 5px 0px;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_7, #DIV_18, #DIV_29, #DIV_40, #DIV_51, #DIV_62*/

#DIV_7:after, #DIV_18:after, #DIV_29:after, #DIV_40:after, #DIV_51:after, #DIV_62:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_7:after, #DIV_18:after, #DIV_29:after, #DIV_40:after, #DIV_51:after, #DIV_62:after*/

#DIV_7:before, #DIV_18:before, #DIV_29:before, #DIV_40:before, #DIV_51:before, #DIV_62:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_7:before, #DIV_18:before, #DIV_29:before, #DIV_40:before, #DIV_51:before, #DIV_62:before*/

#A_8, #A_19, #A_30, #A_41, #A_52, #A_63 {
    box-sizing: border-box;
    color: rgb(52, 58, 64);
    text-align: left;
    text-decoration: none solid rgb(52, 58, 64);
    text-size-adjust: 100%;
    column-rule-color: rgb(52, 58, 64);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(52, 58, 64);
    border: 0px none rgb(52, 58, 64);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(52, 58, 64) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_8, #A_19, #A_30, #A_41, #A_52, #A_63*/

#A_8:after, #A_19:after, #A_30:after, #A_41:after, #A_52:after, #A_63:after {
    box-sizing: border-box;
    color: rgb(52, 58, 64);
    text-align: left;
    text-decoration: none solid rgb(52, 58, 64);
    text-size-adjust: 100%;
    column-rule-color: rgb(52, 58, 64);
    caret-color: rgb(52, 58, 64);
    border: 0px none rgb(52, 58, 64);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(52, 58, 64) none 0px;
}/*#A_8:after, #A_19:after, #A_30:after, #A_41:after, #A_52:after, #A_63:after*/

#A_8:before, #A_19:before, #A_30:before, #A_41:before, #A_52:before, #A_63:before {
    box-sizing: border-box;
    color: rgb(52, 58, 64);
    text-align: left;
    text-decoration: none solid rgb(52, 58, 64);
    text-size-adjust: 100%;
    column-rule-color: rgb(52, 58, 64);
    caret-color: rgb(52, 58, 64);
    border: 0px none rgb(52, 58, 64);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(52, 58, 64) none 0px;
}/*#A_8:before, #A_19:before, #A_30:before, #A_41:before, #A_52:before, #A_63:before*/

#A_9, #A_20, #A_31, #A_42, #A_53, #A_64 {
    box-sizing: border-box;
    color: rgb(165, 165, 171);
    text-align: left;
    text-decoration: none solid rgb(165, 165, 171);
    text-size-adjust: 100%;
    column-rule-color: rgb(165, 165, 171);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(165, 165, 171);
    border: 0px none rgb(165, 165, 171);
    font: 300 14px / 25.2px "Work Sans", Arial, sans-serif;
    outline: rgb(165, 165, 171) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_9, #A_20, #A_31, #A_42, #A_53, #A_64*/

#A_9:after, #A_20:after, #A_31:after, #A_42:after, #A_53:after, #A_64:after {
    box-sizing: border-box;
    color: rgb(165, 165, 171);
    text-align: left;
    text-decoration: none solid rgb(165, 165, 171);
    text-size-adjust: 100%;
    column-rule-color: rgb(165, 165, 171);
    caret-color: rgb(165, 165, 171);
    border: 0px none rgb(165, 165, 171);
    font: 300 14px / 25.2px "Work Sans", Arial, sans-serif;
    outline: rgb(165, 165, 171) none 0px;
}/*#A_9:after, #A_20:after, #A_31:after, #A_42:after, #A_53:after, #A_64:after*/

#A_9:before, #A_20:before, #A_31:before, #A_42:before, #A_53:before, #A_64:before {
    box-sizing: border-box;
    color: rgb(165, 165, 171);
    text-align: left;
    text-decoration: none solid rgb(165, 165, 171);
    text-size-adjust: 100%;
    column-rule-color: rgb(165, 165, 171);
    caret-color: rgb(165, 165, 171);
    border: 0px none rgb(165, 165, 171);
    font: 300 14px / 25.2px "Work Sans", Arial, sans-serif;
    outline: rgb(165, 165, 171) none 0px;
}/*#A_9:before, #A_20:before, #A_31:before, #A_42:before, #A_53:before, #A_64:before*/

#BR_10, #BR_21, #BR_32, #BR_43, #BR_54, #BR_65 {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#BR_10, #BR_21, #BR_32, #BR_43, #BR_54, #BR_65*/

#BR_10:after, #BR_21:after, #BR_32:after, #BR_43:after, #BR_54:after, #BR_65:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#BR_10:after, #BR_21:after, #BR_32:after, #BR_43:after, #BR_54:after, #BR_65:after*/

#BR_10:before, #BR_21:before, #BR_32:before, #BR_43:before, #BR_54:before, #BR_65:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#BR_10:before, #BR_21:before, #BR_32:before, #BR_43:before, #BR_54:before, #BR_65:before*/

#DIV_11 {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    display: inline-block;
    height: 28px;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    perspective-origin: 94.7656px 14px;
    transform-origin: 94.7656px 14px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    margin: 0px 5px 5px 0px;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_11*/

#DIV_11:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_11:after*/

#DIV_11:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_11:before*/

#A_12, #A_23, #A_34, #A_45, #A_56, #A_67 {
    box-sizing: border-box;
    color: rgb(52, 58, 64);
    text-align: left;
    text-decoration: none solid rgb(52, 58, 64);
    text-size-adjust: 100%;
    column-rule-color: rgb(52, 58, 64);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(52, 58, 64);
    border: 0px none rgb(52, 58, 64);
    font: 500 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(52, 58, 64) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_12, #A_23, #A_34, #A_45, #A_56, #A_67*/

#A_12:after, #A_23:after, #A_34:after, #A_45:after, #A_56:after, #A_67:after {
    box-sizing: border-box;
    color: rgb(52, 58, 64);
    text-align: left;
    text-decoration: none solid rgb(52, 58, 64);
    text-size-adjust: 100%;
    column-rule-color: rgb(52, 58, 64);
    caret-color: rgb(52, 58, 64);
    border: 0px none rgb(52, 58, 64);
    font: 500 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(52, 58, 64) none 0px;
}/*#A_12:after, #A_23:after, #A_34:after, #A_45:after, #A_56:after, #A_67:after*/

#A_12:before, #A_23:before, #A_34:before, #A_45:before, #A_56:before, #A_67:before {
    box-sizing: border-box;
    color: rgb(52, 58, 64);
    text-align: left;
    text-decoration: none solid rgb(52, 58, 64);
    text-size-adjust: 100%;
    column-rule-color: rgb(52, 58, 64);
    caret-color: rgb(52, 58, 64);
    border: 0px none rgb(52, 58, 64);
    font: 500 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(52, 58, 64) none 0px;
}/*#A_12:before, #A_23:before, #A_34:before, #A_45:before, #A_56:before, #A_67:before*/

#DIV_22 {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    display: inline-block;
    height: 28px;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    perspective-origin: 144.312px 14px;
    transform-origin: 144.312px 14px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    margin: 0px 5px 5px 0px;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_22*/

#DIV_22:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_22:after*/

#DIV_22:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_22:before*/

#DIV_33 {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    display: inline-block;
    height: 28px;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    perspective-origin: 38.5625px 14px;
    transform-origin: 38.5625px 14px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    margin: 0px 5px 5px 0px;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_33*/

#DIV_33:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_33:after*/

#DIV_33:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_33:before*/

#DIV_44 {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    display: inline-block;
    height: 28px;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(139, 139, 146);
    perspective-origin: 130px 14px;
    transform-origin: 130.008px 14px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    margin: 0px 5px 5px 0px;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_44*/

#DIV_44:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_44:after*/

#DIV_44:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_44:before*/


#DIV_55 {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    display: inline-block;
    height: 56px;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(139, 139, 146);
    perspective-origin: 147.484px 28px;
    transform-origin: 147.492px 28px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    margin: 0px 5px 5px 0px;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_55*/

#DIV_55:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_55:after*/

#DIV_55:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_55:before*/

#DIV_66 {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    display: inline-block;
    height: 28px;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(139, 139, 146);
    perspective-origin: 63.7812px 14px;
    transform-origin: 63.7891px 14px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    margin: 0px 5px 5px 0px;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_66*/

#DIV_66:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_66:after*/

#DIV_66:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 15px / 27px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#DIV_66:before*/

#pgDIV_1 {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    display: flex;
    height: 44px;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    /*width: 1140px;*/
    perspective-origin: 570px 22px;
    transform-origin: 570px 22px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    flex-flow: row wrap;
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    margin: 48px -15px 0px;
    outline: rgb(139, 139, 146) none 0px;
}/*#pgDIV_1*/

#pgDIV_1:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#pgDIV_1:after*/

#pgDIV_1:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#pgDIV_1:before*/

#pgDIV_2 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    height: 44px;
    left: 0px;
    max-width: 100%;
    min-height: 1px;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    top: 0px;
    top: 0px;
    /*width: 1140px;*/
    transform-origin: 570px 22px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    flex: 1 1 0px;
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
    padding: 0px 15px;
}/*#pgDIV_2*/

#pgDIV_2:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: center;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#pgDIV_2:after*/

#pgDIV_2:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: center;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#pgDIV_2:before*/

#pgDIV_3 {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    height: 44px;
    text-align: center;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    /*width: 1110px;*/
    perspective-origin: 555px 22px;
    transform-origin: 555px 22px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#pgDIV_3*/

#pgDIV_3:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: center;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#pgDIV_3:after*/

#pgDIV_3:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: center;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#pgDIV_3:before*/

#pgUL_4 {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    height: 44px;
    text-align: center;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    /*width: 1110px;*/
    perspective-origin: 555px 22px;
    transform-origin: 555px 22px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    margin: 0px;
    outline: rgb(139, 139, 146) none 0px;
    padding: 0px;
}/*#pgUL_4*/

#pgUL_4:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: center;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#pgUL_4:after*/

#pgUL_4:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    text-align: center;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 300 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#pgUL_4:before*/

.pg_li, #pgLI_5, #pgLI_7, #pgLI_9, #pgLI_11, #pgLI_13, #pgLI_15, #pgLI_17 {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    cursor: pointer;
    display: inline-block;
    height: 40px;
    text-align: center;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    width: 40px;
    column-rule-color: rgb(139, 139, 146);
    perspective-origin: 20px 20px;
    transform-origin: 20px 20px;
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 16px / 28.8px "Work Sans", Arial, sans-serif;
    margin: 0px 4px 4px;
    outline: rgb(139, 139, 146) none 0px;

}/*#pgLI_5, #pgLI_7, #pgLI_9, #pgLI_11, #pgLI_13, #pgLI_15, #pgLI_17*/

.pg_li:after, #pgLI_5:after, #pgLI_7:after, #pgLI_9:after, #pgLI_11:after, #pgLI_13:after, #pgLI_15:after, #pgLI_17:after {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#pgLI_5:after, #pgLI_7:after, #pgLI_9:after, #pgLI_11:after, #pgLI_13:after, #pgLI_15:after, #pgLI_17:after*/

.pg_li:before, #pgLI_5:before, #pgLI_7:before, #pgLI_9:before, #pgLI_11:before, #pgLI_13:before, #pgLI_15:before, #pgLI_17:before {
    box-sizing: border-box;
    color: rgb(139, 139, 146);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(139, 139, 146);
    text-size-adjust: 100%;
    column-rule-color: rgb(139, 139, 146);
    caret-color: rgb(139, 139, 146);
    border: 0px none rgb(139, 139, 146);
    font: 16px / 28.8px "Work Sans", Arial, sans-serif;
    outline: rgb(139, 139, 146) none 0px;
}/*#pgLI_5:before, #pgLI_7:before, #pgLI_9:before, #pgLI_11:before, #pgLI_13:before, #pgLI_15:before, #pgLI_17:before*/

.pg_active {
    box-sizing: border-box;
    color: rgb(15, 76, 129);
    cursor: pointer;
    display: inline-block;
    height: 40px;
    text-align: center;
    text-decoration: none solid rgb(15, 76, 129);
    text-size-adjust: 100%;
    width: 40px;
    column-rule-color: rgb(15, 76, 129);
    perspective-origin: 20px 20px;
    transform-origin: 20px 20px;
    caret-color: rgb(15, 76, 129);
    background: rgb(216, 238, 251) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50% 50% 50% 50%;
    font: 16px / 40px "Work Sans", Arial, sans-serif;
    outline: rgb(15, 76, 129) none 0px;
}/*#pgSPAN_6*/

.pg_active:after {
    box-sizing: border-box;
    color: rgb(15, 76, 129);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(15, 76, 129);
    text-size-adjust: 100%;
    column-rule-color: rgb(15, 76, 129);
    caret-color: rgb(15, 76, 129);
    border: 0px none rgb(15, 76, 129);
    font: 16px / 40px "Work Sans", Arial, sans-serif;
    outline: rgb(15, 76, 129) none 0px;
}/*#pgSPAN_6:after*/

.pg_active:before {
    box-sizing: border-box;
    color: rgb(15, 76, 129);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(15, 76, 129);
    text-size-adjust: 100%;
    column-rule-color: rgb(15, 76, 129);
    caret-color: rgb(15, 76, 129);
    border: 0px none rgb(15, 76, 129);
    font: 16px / 40px "Work Sans", Arial, sans-serif;
    outline: rgb(15, 76, 129) none 0px;
}/*#pgSPAN_6:before*/

.pg_btns, #pgSPAN_8, #pgSPAN_10, #pgSPAN_14, #pgSPAN_18 {
    box-sizing: border-box;
    color: rgb(15, 76, 129);
    cursor: pointer;
    display: inline-block;
    height: 40px;
    text-align: center;
    text-decoration: none solid rgb(15, 76, 129);
    text-size-adjust: 100%;
    width: 40px;
    column-rule-color: rgb(15, 76, 129);
    perspective-origin: 20px 20px;
    transform-origin: 20px 20px;
    caret-color: rgb(15, 76, 129);
    border: 1px solid rgb(216, 238, 251);
    border-radius: 50% 50% 50% 50%;
    font: 16px / 40px "Work Sans", Arial, sans-serif;
    outline: rgb(15, 76, 129) none 0px;
}/*#pgSPAN_8, #pgSPAN_10, #pgSPAN_14, #pgSPAN_18*/

.pg_btns:after, #pgSPAN_8:after, #pgSPAN_10:after, #pgSPAN_14:after, #pgSPAN_18:after {
    box-sizing: border-box;
    color: rgb(15, 76, 129);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(15, 76, 129);
    text-size-adjust: 100%;
    column-rule-color: rgb(15, 76, 129);
    caret-color: rgb(15, 76, 129);
    border: 0px none rgb(15, 76, 129);
    font: 16px / 40px "Work Sans", Arial, sans-serif;
    outline: rgb(15, 76, 129) none 0px;
}/*#pgSPAN_8:after, #pgSPAN_10:after, #pgSPAN_14:after, #pgSPAN_18:after*/

.pg_btns:before, #pgSPAN_8:before, #pgSPAN_10:before, #pgSPAN_14:before, #pgSPAN_18:before {
    box-sizing: border-box;
    color: rgb(15, 76, 129);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(15, 76, 129);
    text-size-adjust: 100%;
    column-rule-color: rgb(15, 76, 129);
    caret-color: rgb(15, 76, 129);
    border: 0px none rgb(15, 76, 129);
    font: 16px / 40px "Work Sans", Arial, sans-serif;
    outline: rgb(15, 76, 129) none 0px;
}/*#pgSPAN_8:before, #pgSPAN_10:before, #pgSPAN_14:before, #pgSPAN_18:before*/

#pgSPAN_12, #pgSPAN_16 {
    box-sizing: border-box;
    color: rgb(15, 76, 129);
    cursor: pointer;
    display: inline-block;
    height: 40px;
    text-align: center;
    text-decoration: none solid rgb(15, 76, 129);
    text-size-adjust: 100%;
    width: 40px;
    column-rule-color: rgb(15, 76, 129);
    perspective-origin: 20px 20px;
    transform-origin: 20px 20px;
    caret-color: rgb(15, 76, 129);
    border: 1px solid rgb(216, 238, 251);
    border-radius: 50% 50% 50% 50%;
    font: 16px / 40px "Work Sans", Arial, sans-serif;
    outline: rgb(15, 76, 129) none 0px;
}/*#pgSPAN_12, #pgSPAN_16*/

#pgSPAN_12:after, #pgSPAN_16:after {
    box-sizing: border-box;
    color: rgb(15, 76, 129);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(15, 76, 129);
    text-size-adjust: 100%;
    column-rule-color: rgb(15, 76, 129);
    caret-color: rgb(15, 76, 129);
    border: 0px none rgb(15, 76, 129);
    font: 16px / 40px "Work Sans", Arial, sans-serif;
    outline: rgb(15, 76, 129) none 0px;
}/*#pgSPAN_12:after, #pgSPAN_16:after*/

#pgSPAN_12:before, #pgSPAN_16:before {
    box-sizing: border-box;
    color: rgb(15, 76, 129);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(15, 76, 129);
    text-size-adjust: 100%;
    column-rule-color: rgb(15, 76, 129);
    caret-color: rgb(15, 76, 129);
    border: 0px none rgb(15, 76, 129);
    font: 16px / 40px "Work Sans", Arial, sans-serif;
    outline: rgb(15, 76, 129) none 0px;
}/*#pgSPAN_12:before, #pgSPAN_16:before*/
